


#reviewCards{
   width: 100%;
   background-color: white;
   display: grid;
   grid-template-columns: auto auto auto auto;
   column-gap:1%;
   //margin-left:5%;
   grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  
  
}


figure.snip1390 {
  font-family: 'Roboto';
  font-weight: 400;
  position: relative;
  overflow: hidden;
  min-width: 330px;
  max-width: 400px;
  height: 300px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h3,
figure.snip1390 h4,
figure.snip1390 .blockquote {
  margin: 0;
}
figure.snip1390 h3{
  font-weight: 200;
}
figure.snip1390 h4 {
  font-weight: 100;
  font-size: small;
}
figure.snip1390 h3 {
  color: #0a0909;
  white-space: nowrap;
  overflow: hidden;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 .blockquote {
  background-color: #ffffff;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
  height: 65%;
  width: 100%;
  font-style: italic ;
  font-weight: 100;
}

figure.snip1390 .profile {
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  border: solid 5px #A6A57A;
  
}

.hint-star {
	display: inline-block;
	color: gold;
	width: 100%;
}

.gIcon{
  display: inline-block;
	color: rgb(238, 62, 30);
  font-size: large;
	
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height:1.5em;
  min-height:7em;
}

#topProfile{
  height: 35%;
  width :100%;
  padding: 5px;
  text-align: left;
}

#firstRow{
  width :100%;
  padding: 5px;
  display:flex; 
  flex-direction: row;  
  align-items: center;
}

#nameDate{
   text-align: left;
   margin-left: 10px;
}

#showMore{
  margin-left: 49%;
  color: #000000;
  padding-top: 3em;
  padding-bottom: 3em;
  display: none;
}

#reviewsTitle{
  margin-left: 5%;
  width: 80%;
  font-weight: 100;
  color: #4d4d4d;
}
